<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Задача 20</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <div class='homepage'>
    <div class='jumbotron text-center'>
      <h1>Объекты культурного наследия, находящиеся в неудовлетворительном состоянии </h1>
    </div>
    <div class='container'>
      <div class='row row-flex row-flex-wrap' id='dynamic'></div>
    </div>
  </div>
  <script src="../static/script.js"></script>
</body>
</html>