<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="//api-maps.yandex.ru">
  <link rel="dns-prefetch" href="//api-maps.yandex.ru">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Задача 20</title> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik&display=swap" rel="stylesheet">
  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="../static/script.js" type="text/javascript"></script>
</head>
<body>
<div class='homepage'> 
    <div class="jumbotron jumbotron-fluid">
        <div class='row justify-content-center'>
            <div class="col-12 col-md-6 text-center">
                <img src='https://audithon.ru/svg/header/logo-full.svg'>
            </div>
            <div class="col-12 col-md-6 text-center">
                <h1>AUDITHION</h1>
            </div>
        </div>
        <div class="container text-center">
            <h4>ЗАДАЧА 20</h4>
            <p>Объекты культурного наследия, находящиеся в неудовлетворительном состоянии</p>
        </div>
    </div>
    <div class='row pl-md-2 pr-md-2' id='mapcontainer'>
        <div class='col-0 col-xl-1 d-none d-xl-block'></div>
        <div class='col-12 col-md-9 col-lg-9'>
            <div id="map"></div>
        </div>
        <div class='col-12 col-md-3 col-xl-2 align-self-center'>
            <div class='row'>
                <div class='col-12 mb-2'>
                    <div><img src='https://yastatic.net/s3/locdoc/freeze/maps/freeze/dn43KupGJUJbbnGX-uhobz3k_Ks.png'>-федеральное значение</div>
                </div>
                <div class='col-12 mt-2 mb-2'>
                    <div><img src='https://yastatic.net/s3/locdoc/freeze/maps/freeze/btKH_QMNF2fzMqkdgmfLnTdheFU.png'>-региональное значение</div>
                </div>
                <div class='col-12 mt-2 mb-2'>
                    <div><img src='https://yastatic.net/s3/locdoc/freeze/maps/freeze/jpm2i_vveDjjyaa_CCY3mw-B5fg.png'>-муниципальное значение</div>
                </div>
                <div class='col-12 mt-2 mb-4'>
                    <div><img src='https://yastatic.net/s3/locdoc/freeze/maps/freeze/3zEkHnopIaLnJ6B3zWoZ4IDD080.png'>-выявленные</div>
                </div>
                <div class='col-12 mt-2'>
                    <div class='helpcard pl-2 pt-4 pb-5'>
                        <div class='row text-center'>
                            <div class='col-12'>
                                <h4>Не нашли то, что искали?</h4>
                            </div>
                            <div class='col-12 pt-4'>
                                <p>Помогите нам спасти памятники культуры! Заполните форму!</p>
                            </div>
                            <div class='col-12 pt-5'>
                                <button class="btnF"><a href="../form">К форме</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div class='container mt-3 text-center'>
    <buttton class='btn align-items-center' onclick='ShowDiagrams()'>
        <img src="https://cdn.discordapp.com/attachments/783709006258503691/824990354503630858/add-plus-button.png" width="30px" class='item' id='buttonImage'>
    </buttton>
   </div>
    <div class='container-fluid' id='diagrams'>

    </div>
</div>      
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
</body>
</html>
